Django==4.2.13
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==23.5
psycopg2-binary==2.9.9
stripe==9.9.0
celery==5.3.6
redis==5.0.3
django-celery-beat==2.6.0
django-celery-results==2.5.1
Pillow==10.3.0
python-decouple==3.8
drf-spectacular==0.27.2
django-extensions==3.2.3
gunicorn==22.0.0
whitenoise==6.7.0
reportlab==4.2.0
weasyprint==62.1
